[Desktop Entry]
Name=Setup Tool
Comment=A simple setup program.
Exec=setup-tool
Icon=setup-tool-512
Terminal=true
Type=Application
Categories=Administration;System;Utility;
